.shiwImg-div {
    position: fixed;
    _position: absolute;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    background: #FFFAF0;
    z-index: 99;
}

.showImg-span {
    display: table-cell;
    vertical-align: middle;
}

.showImg-img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

.masklayer-div {
    position: fixed;
    _position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    background: #FFFAF0;
    z-index: 999;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}

.button-play {
    border: none;
    outline: none;
    background-image: radial-gradient(circle at 60% 20%, #2DB7F5 0%, #2DF4E5);
    border-radius: 5em;
    color: #FFF;
    width: 5em;
    height: 5em;
    line-height: 5em;
    padding: 0;
    font-size: 2em;
}

.button-Arrow {
    position: fixed;
    _position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    text-align: center;
    display: block;
    z-index: 9999;
    animation-name: arrowing;
    -webkit-animation-name: arrowing;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.button-Arrow img {
    width: 40px;
}

.loader__progress {
    height: 2px;
    width: 0;
    background: #87d068;
}

@keyframes arrowing {
    50% {
        transform: translateY(10px);
        opacity: 1;
    }
}

@-webkit-keyframes arrowing {
    0%, to {
        -webkit-transform: translateY(-5px);
        opacity: .8
    }
    50% {
        -webkit-transform: translateY(10px);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(-5px);
        opacity: .8
    }
}