.myPhone {
    position: relative;
    overflow: hidden;
    width: 25em;
    height: 44em;
    margin-top: -16px;
    background: url(../imgs/iphone_white.svg) no-repeat 100% 0%;
    background-size: 100%;
}

.myPhoneScreen {
    position: relative;
    overflow: hidden;
    height: 72.8%;
    margin: 6.9em 13.7% 0;
    text-align: left;
    border-radius: 4px 4px 0 0;
    /*background: #5b9ce3;*/
}

.shiwImg-div {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    background: #FFFAF0;
}

.showImg-span {
    display: table-cell;
    vertical-align: middle;
}

.showImg-img {
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

.masklayer-div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    background: #FFFAF0;
    z-index: 20000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}

.button-play {
    border: none;
    outline: none;
    background-image: radial-gradient(circle at 60% 20%, #2DB7F5 0%, #2DF4E5);
    border-radius: 10em;
    color: #FFF;
    width: 10em;
    height: 10em;
    line-height: 10em;
    padding: 0;
}

@media screen and (max-width: 50em) {
    .myPhone {
        width: 100%;
        height: auto;
        background-image: none;
    }

    .myPhoneScreen {
        margin: 0;
        border-radius: 0;
    }
}