/*手机模拟器样式*/
.myPhone {
    position: relative;
    overflow: hidden;
    width: 25em;
    height: 44em;
    margin-top: -16px;
    background: url(../imgs/iphone_white.svg) no-repeat 100% 0%;
    background-size: 100%;
}

.myPhoneScreen {
    position: relative;
    overflow: hidden;
    height: 72.8%;
    margin: 6.9em 13.7% 0;
    text-align: left;
    border-radius: 4px 4px 0 0;
    /*background: #5b9ce3;*/
    cursor: url('../imgs/phone_mouse.ico'), default;
}

/*广告位样式*/
.preAd-div {
    position: absolute;
    height: 10%;
    width: 100%;
    display: table;
    text-align: left;
    background: #FFFAF0;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

.preAd-divContent {
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline;
    text-align: left;
    background: #FFFAF0;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

.preAd-divContent-Head {
    position: absolute;
    height: 100%; /*宽度与高度一致从JS设置*/
    display: table;
    text-align: center;
    background: transparent;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

.preAd-divContent-Body {
    /*
    初始位置需要往右偏移preAd-divContent-Head的宽度
    整个Body的宽度为100%宽度-preAd-divContent-Head的宽度
    */
    position: absolute;
    height: 100%;
    display: table;
    text-align: left;
    background: #FFFAF0;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

/*图片播放样式*/
.preShiwImg-div {
    position: absolute;
    height: 90%;
    width: 100%;
    display: table;
    text-align: center;
    background: #FFFAF0;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

.preShowImg-span {
    display: table-cell;
    vertical-align: middle;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

.preShowImg-img {
    width: auto;
    max-height: 100%;
    max-width: 100%;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

/*播放遮罩层样式*/
.preMasklayer-div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    background: #FFFAF0;
    z-index: 20000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: url('../imgs/phone_mouse.ico'), default;
}

/*播放按钮样式*/
.preButton-play {
    border: none;
    outline: none;
    background-image: radial-gradient(circle at 60% 20%, #2DB7F5 0%, #2DF4E5);
    border-radius: 5em;
    color: #FFF;
    width: 5em;
    height: 5em;
    line-height: 5em;
    padding: 0;
    font-size: 2em;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

/*播放控制样式(一个向上箭头)*/
.preButton-Arrow {
    position: absolute;
    bottom: 13%;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    text-align: center;
    display: block;
    z-index: 999;
    animation-name: preArrowing;
    -webkit-animation-name: preArrowing;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

.preButton-Arrow img {
    width: 40px;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

/*播放进度条样式*/
.preLoader__progress {
    height: 2px;
    width: 0;
    background: #87d068;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

/*播放完成时更多信息的样式*/
.preMoreInfo-div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    background: black;
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=90);
    cursor: url('../imgs/phone_mouse.ico'), default;
}

.preMoreInfo-divContent {
    height: 60%;
    width: 100%;
    background: black;
    display: run-in;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

/*重播按钮样式*/
.preButton-Reset {
    border: none;
    outline: none;
    background-image: radial-gradient(circle at 60% 20%, #2DB7F5 0%, #2DF4E5);
    border-radius: 0.3em;
    color: #FFF;
    width: 100%;
    height: 1.8em;
    line-height: 1.8em;
    padding: 0;
    font-size: 2em;
    cursor: url('../imgs/phone_mouse.ico'), default;
}

/*箭头动画*/
@keyframes preArrowing {
    50% {
        transform: translateY(10px);
        opacity: 1;
    }
}

@-webkit-keyframes preArrowing {
    0%, to {
        -webkit-transform: translateY(-5px);
        opacity: .8
    }
    50% {
        -webkit-transform: translateY(10px);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(-5px);
        opacity: .8
    }
}

@media screen and (max-width: 50em) {
    .myPhone {
        width: 100%;
        height: auto;
        background-image: none;
    }

    .myPhoneScreen {
        margin: 0;
        border-radius: 0;
    }
}