html,body{
  height: 100%!important;
}
body {
    margin:0;
    padding:0;
    border:0;     /* This removes the border around the viewport in old versions of IE */
    width:100%;
    background-color: #F2F2F2 !important;
    min-height: 100%;    /* Minimum width of layout - remove line if not required */
            /* The min-width property does not work in old versions of Internet Explorer */
    height: 100%!important;
  }